/*Header*/

.header {
    text-align: center;
    padding: 2rem;
}

.nosotros {
    padding: 2rem;
}

/* NavBar */

.morado {
    color: $color-morado;
}

.navbar-collapse {
    justify-content: flex-end;
}